############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class
scripts/
test_env/

# C extensions
*.so

############################
# Distribution / packaging
############################
.Python
build/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg

############################
# Unit test / coverage
############################
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.tox/
.pytest_cache/

############################
# Django
############################
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
staticroot/
.collected_static/

############################
# Environments
############################
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
projectenv/

############################
# IDE / Editor
############################
.vscode/
.idea/
*.iml

############################
# OS
############################
.DS_Store
Thumbs.db

############################
# Node
############################
node_modules/

############################
# Jupyter
############################
.ipynb_checkpoints

############################
# Misc
############################
*.bak
*.swp
*.swo

############################
# Example project generated assets
############################
example_project/db.sqlite3
example_project/static/
